body { 
    font-family: Arial, sans-serif; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #1a1919;
}
        
h1 { 
    color: #1256cb; 
}
        
img { 
    max-width: 100%; 
    margin: 20px 0; 
}

p {
    color: white;
}