body { 
    font-family: Arial, sans-serif; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #1a1919;
}
        
h1 { 
    color: #1256cb; 
}
        
img { 
    max-width: 100%; 
    margin: 20px 0;
    border: 4px solid #b7b3b3;
}

p {
    color: white;
}

.apon-date {
    font-weight: 600;
}

.apon-explanation {
    text-align: justify;
}